* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ffffff;
}

/* Contêiner principal */
.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 25px;
}

/* Cartão de notícia */
.container-noticias {
    display: flex;
    background-color: #ffffff;
    width: 100%;
    border-radius: 12px;
    border-right: 9px solid #69372E;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    align-items: center;
    gap: 15px;
}

/* Imagem da notícia */
.container-img {
    width: 250px;
    height: 270px;
    flex-shrink: 0;
}

/* Imagem da notícia */
.container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Centralizar botão */
.container-text {
    padding: 20px;
    flex: 1;
    text-align: center;
    /* Centraliza o botão */
}

.titulo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #69372E;

}

.previa-conteudo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20PX;
    text-align: justify;
    color: #69372E;
}

.container-left {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 20px;
    /* Espaço entre as notícias */
}

/* Texto da notícia */
.container-text {
    padding: 20px;
    flex: 1;
}

/* Data */
.data {
    font-size: 14px;
    color: #a43c2a;
    margin-bottom: 10px;
    padding: 5px;
}

/* Ícone de calendário */
.data i {
    color: #a43c2a;
    margin-right: 5px;
}


/* Botão de ver mais */
.btn-ver-mais {
    display: block;
    /* Garante que o botão ocupe toda a largura disponível */
    width: 100px;
    margin: 15px auto;
    /* Centraliza horizontalmente */
    padding: 10px 15px;
    font-size: 14px;
    color: white;
    background: #69372E;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    text-decoration: none;
}

.btn-ver-mais:hover {
    background: #ffffff;
    border: 1px solid #69372E;
    color: #69372E;
}


/* Responsividade */
@media (max-width: 768px) {
    .container-left {
        width: 100%;
    }

    .container-noticias {
        flex-direction: column;
        width: 100%;
        padding: 0;
        border-right: none;
    }

    /* Imagem da notícia */
.container-img {
    width: 100%;
    height: 50%;
    flex-shrink: 0;
}

/* Imagem da notícia */
.container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
}