* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f4f4f4;
}

.admin-container {
  display: flex;
  min-height: 100vh;
}
.main-content h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  color: #2C3E50;
}
.main-content p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: #2C3E50;
}
.main-content {
  flex: 1;
  padding: 40px;
}

.main-content h1 {
  margin-bottom: 10px;
}

/* Painel geral: cards + admin */
.painel-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

/* Cards de funcionalidades administrativas */
.container-controle {
  flex: 1;
  min-width: 300px;
}

.card-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background-color: white;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.card-grid a{
  text-decoration: none;
}
.card:hover {
  transform: translateY(-5px);
}

.card i {
  font-size: 32px;
  color: #2c3e50;
  margin-bottom: 10px;
}

.card h3 {
  font-family: 'Times New Roman', Times, serif  ;
  font-size: 18px;
  color: #2C3E50;
}

/* Card de administração centralizado */
.card-admin {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.08);
  text-align: center;
}

.titulo {
  display: block;
  height: 100px;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10px;
}
.titulo h1{
  font-size: 25px;
  color: #2c3e50;
  margin-left: 10px;
}
.titulo i {
  font-size: 50px;
  color: #2c3e50;
  margin-left: 10px;
}
.opcao {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  border-top: 0.5px solid #ccc;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.opcao:hover {
  background-color: #f4f4f4;
}

.opcao i{
  font-size: 25px;
  color: #2c3e50;
  margin-left: 10px;
}

.opcao h2 {
  font-size: 20px;
  color: #2c3e50;
}
.voltar{
  padding: 10px;
  margin-top: 5px;
  font-size: 20px;
}
.voltar a{
  list-style: none;
  text-decoration: none;
  color:#ff0000 ;
  
  
}
.voltar a:hover{
  color:    #820101;
}
